<div class="col-md-5">
  <% @notes.each do |note| %>
    <%= link_to(edit_note_path(note)) do %> 
      <%= fa_icon 'pencil 2x' %>
    <% end %>
    <%= fa_icon 'trash 2x' %>
    <h4><%= note.title %></h4>
    <%= simple_format(truncate(note.body)) %>
    <hr>
  <% end %>
</div>
<div class="col-md-7">
  <%= render partial: 'form', locals: { note: @note } %>
</div>
